body{
  background-color: #efefef;
}

header{
  width: 100%;
  height: 50px;
  background-color: #c4c4c4;
  font-family: roboto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name{
  font-size: 27px;
  padding-left: 40px;
}

.sair{
  color: #ef5353;
  font-size: 25px;
  padding-right: 30px;
}

.titulo{
  font-family: roboto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 22px;
}

.conteiner-cards{
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  margin: 30px auto;
}

.cards{
  width: 250px;
  height: 150px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 15px 15px #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}

.cards--blue{
  background-color: #7a7aff;
}

.cards--green{
  background-color: #2CAF1E;
}

.cards--red{
  background-color: #ba0000;
}

.cards--orange{
  background-color: #E98825;
}

.cards--purple{
  background-color: #930050;
}

.cards--yellow{
  background-color: #FFFF00;
}

.titleP{
  font-size: 30px;
  font-family: roboto;
  color: white;
  text-align: center;
}

.criarM{
  font-size: 27px;
  font-family: roboto;
  transition: 0.3s
}

.criarM:hover{
  color: #222;
  transition: 0.3s
}

.cards:hover{
  box-shadow: 8px 10px #222222;
  transition: 0.3s;
  cursor: pointer;
}

.footer{
  max-width: 100%;
  height: 62px;
  background-color: #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: roboto;
}

.footer div{
  display: flex;
}

.instagramLogo{

  width: 25px;
  height: 25px;
  margin-left: 40px;
}

.instagram{
  margin-left: 10px;
  color: white;
}

.copyright{
  color: white;
  margin-right: 30px;
}